<div class="text-center">
  <button class="btn btn-primary-back hover-effect" (click)="goToUpcomingEditions()">Vai alle edizioni in partenza</button>
</div>
<h1 class="hover-effect">Tutte le Edizioni:</h1>
<div id="form-container">
  <form [formGroup]="areaForm">
    <select title="seleziona un'area" formControlName="areaIdForm" id="area" class="form-select" (change)="filterAreas()">
      <option [ngValue]="null" selected>Tutte le aree</option>
      <option *ngFor="let a of areas" [ngValue]="a.id">{{a.name}}</option>
    </select>    
  </form>
</div>

<div class="container1" style="margin-top: 15px;">
  <div class="row">
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3159/3159407.png" alt="" class="hover-effect">
    </div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3771/3771395.png" alt="" class="hover-effect">
    </div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/2620/2620490.png" alt="" class="hover-effect">
    </div>
  </div>
</div>

<div class="container">
  <div class="card" style="width: 15rem;" *ngFor="let edition of editions">
    <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/2705/2705224.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{edition.courseName}}</h5>
      <p class="card-text-date">
        <i class="bi bi-calendar-event"></i> {{edition?.startDate}}</p><br>
      <p class="card-text-tutor">
        <i class="bi bi-person"></i>{{edition?.tutor}}<br></p>
      <p class="card-text-pay">
        {{edition?.pay}}</p>

      <a [routerLink]="['/editions', edition.id]" class="btn btn-primary">SCOPRI DI PIU'</a>
      <p></p>
      <button class="btn btn-primary" (click)="deleteEdition(edition.id)"><i class="bi bi-trash"></i></button>
    </div>
  </div>
</div>

<div class="container1" style="margin-top: 15px;">
  <div class="row">
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/1296/1296693.png" alt="" class="hover-effect">
    </div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3159/3159172.png" alt="" class="hover-effect">
    </div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/9727/9727439.png" alt="" class="hover-effect">
    </div>
  </div>
  <a class="btn btn-primary-create hover-effect" routerLink="/add-edition-form" routerLinkActive="active">Crea nuova edizione</a>
</div>
