<div class="text-center">
  <button class="btn btn-primary-back hover-effect" (click)="goToAllEditions()">Torna a tutte le edizioni</button>
</div>
<h1 class="hover-effect">Tutte le Edizioni disponibili entro 6 mesi:</h1>
<div id="form-container">
  <form action="#" [formGroup]="areaForm">
    <select title="seleziona un'area" formControlName="areaIdForm" id="area" class="form-select" (change)="filterAreas()">
      <option [ngValue]="null" selected>Tutte le aree</option>
      <option *ngFor="let a of areas" [ngValue]="a.id">{{a.name}}</option>
    </select>
    
  </form>
</div>

<div class="container1" style="margin-top: 15px;">
  <div class="row">
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3159/3159407.png" alt="" class="hover-effect">
    </div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3771/3771395.png" alt="" class="hover-effect">
    </div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/2620/2620490.png" alt="" class="hover-effect">
    </div>
  </div>
</div>
<div class="container">
    <article class="tech" th:each = "e : ${upcomingEditions}">
        <div class="img-tech">
            
            <img src="https://cdn-icons-png.flaticon.com/512/2705/2705224.png" alt="" class="hover-effect">
            <p id="ptech" class="hover-effect">TECH</p>
            <hr>
      
        <p th:text = "${e.id}"><i class="bi bi-hash"></i><br>ID</p>
        <p th:text = "${e.course.title}"><i class="bi bi-pencil-square"></i><br>TITOLO</p>
        <p th:text = "${e.startDate}"><i class="bi bi-calendar-event"></i><br> DATA INIZIO</p>
        <p th:text = "${e.finishDate}">DATA FINE</p>
        <p th:text = "${e.tutor}"><i class="bi bi-person"></i><br>TUTOR</p>
        <p th:text = "${e.pay}"><i class="bi bi-currency-euro"></i><br>PREZZO</p>
        </div>
    </article>
    <article class="design" th:each="e : ${upcomingEditions}">
        <div class="img-design">
            <img src="https://cdn-icons-png.flaticon.com/512/2219/2219592.png" alt="" class="hover-effect">
            <p id="pdesign" class="hover-effect">DESIGN</p>
            <hr>
            <p th:text = "${e.id}"><i class="bi bi-hash"></i><br>ID</p>
        <p th:text = "${e.course.title}"><i class="bi bi-pencil-square"></i><br>TITOLO</p>
        <p th:text = "${e.startDate}"><i class="bi bi-calendar-event"></i><br> DATA INIZIO</p>
        <p th:text = "${e.finishDate}">DATA FINE</p>
        <p th:text = "${e.tutor}"><i class="bi bi-person"></i><br>TUTOR</p>
        <p th:text = "${e.pay}"><i class="bi bi-currency-euro"></i><br>PREZZO</p>
        </div>
    </article>
    <article class="office" th:each="e : ${upcomingEditions}">
        <div class="img-office">
            <img src="https://cdn-icons-png.flaticon.com/512/3374/3374170.png" alt="" class="hover-effect">
            <p id="poffice" class="hover-effect">OFFICE</p>
            <hr>
            <p th:text = "${e.id}"><i class="bi bi-hash"></i><br>ID</p>
        <p th:text = "${e.course.title}"><i class="bi bi-pencil-square"></i><br>TITOLO</p>
        <p th:text = "${e.startDate}"><i class="bi bi-calendar-event"></i><br> DATA INIZIO</p>
        <p th:text = "${e.finishDate}">DATA FINE</p>
        <p th:text = "${e.tutor}"><i class="bi bi-person"></i><br>TUTOR</p>
        <p th:text = "${e.pay}"><i class="bi bi-currency-euro"></i><br>PREZZO</p>
        </div>
    </article>   
</div>

  

<div class="container1" style="margin-top: 15px;">
  <div class="row">
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/1296/1296693.png" alt="" class="hover-effect">
    </div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3159/3159172.png" alt="" class="hover-effect">
    </div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/9727/9727439.png" alt="" class="hover-effect">
    </div>
  </div>
  <a class="btn btn-primary-create hover-effect" routerLink="/add-edition-form" routerLinkActive="active">Crea nuova edizione</a>

</div>
