<h1 class="hover-effect">Edizioni disponibili entro 6 mesi:</h1>
  <div id="form-container">
    <form [formGroup]="areaForm">
      <select title = "seleziona un'area" (change)="onSubmit()" formControlName="areaIdForm" id="area" class="form-select">
        <option selected>Seleziona un'area</option>
        <option *ngFor="let a of areas" [ngValue]="a.id" type="submit">{{a.name}}</option>
      </select>
    </form>
  </div>

<div class="container1" style="margin-top: 15px;">
  <div class="row">
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3159/3159407.png" alt="" class="hover-effect"></div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3771/3771395.png" alt="" class="hover-effect"></div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/2620/2620490.png" alt="" class="hover-effect"></div>
  </div>
</div>
<div class="container">
    <article class="tech" *ngFor = "let ue of upcomingEdition">
        <div class="img-tech">
            
            <img src="https://cdn-icons-png.flaticon.com/512/2705/2705224.png" alt="" class="hover-effect">
            <p id="ptech" class="hover-effect">TECH</p>
            <hr>
      
        <p><i class="bi bi-hash"></i><br>{{ue?.id}}</p>
        <p><i class="bi bi-calendar-event"></i><br>{{ue?.startDate}}</p>
        <p><i class="bi bi-calendar-event"></i><br>{{ue?.finishDate}}</p>
        <p><i class="bi bi-person"></i><br>{{ue?.tutor}}</p>
        <p><i class="bi bi-currency-euro"></i><br>{{ue?.pay}}</p>
        </div>
    </article>
</div>

<div class="container1" style="margin-top: 15px;">
  <div class="row">
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/1296/1296693.png" alt="" class="hover-effect"></div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3159/3159172.png" alt="" class="hover-effect"></div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/9727/9727439.png" alt="" class="hover-effect"></div>
  </div>
</div>

<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>id</th>-->
<!--        <th>course name</th>-->
<!--        <th>start date</th>-->
<!--        <th>finish date</th>-->
<!--        <th>tutor</th>-->
<!--        <th>pay</th>-->
<!--        <th>dettagli</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each = "e : ${upcomingEditions}">-->
<!--        <td th:text = "${e.id}">id</td>-->
<!--        <td th:text = "${e.course.title}">titolo corso</td>-->
<!--        <td th:text = "${e.startDate}">data inizio</td>-->
<!--        <td th:text = "${e.finishDate}">data fine</td>-->
<!--        <td th:text = "${e.tutor}">tutor</td>-->
<!--        <td th:text = "${e.pay}">prezzo</td>-->
<!--        <td>-->
<!--            <a th:href = "@{/editions/detail(editionId = ${e.id})}" th:text = "${'dettagli ' + e.course.title}">dettagli</a>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

