<h1 class="hover-effect">Edizioni disponibili entro 6 mesi:</h1>
<div id="form-container">
  <form action="#" [formGroup]="areaForm">
    <select title="seleziona un'area" (change)="onSubmit()" formControlName="areaIdForm" id="area" class="form-select">
      <option selected>Seleziona un'area</option>
      <option *ngFor="let a of areas" [ngValue]="a.id" type="submit">{{a.name}}</option>
    </select>
  </form>
</div>

<div class="container1" style="margin-top: 15px;">
  <div class="row">
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3159/3159407.png" alt="" class="hover-effect">
    </div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3771/3771395.png" alt="" class="hover-effect">
    </div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/2620/2620490.png" alt="" class="hover-effect">
    </div>
  </div>
</div>


  <div class="container">
    <div class="card" style="width: 15rem;" *ngFor="let ue of allUpcomingEditions">
      <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/2705/2705224.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ue.courseName}}</h5>
        <p class="card-text-date">
          <i class="bi bi-calendar-event"></i> {{ue?.startDate}}</p><br>
          <p class="card-text-tutor">
          <i class="bi bi-person"></i>{{ue?.tutor}}<br></p>
          <p class="card-text-pay">
          {{ue?.pay}}</p>
        
        <a [routerLink]="['/editions', ue.id]" (click)="showDetails(ue)" class="btn btn-primary">SCOPRI DI PIU'</a>
      <p></p>
        <button class="btn btn-primary" (click)="deleteEdition(ue.id)"><i class="bi bi-trash"></i></button>
      </div>
      <div *ngIf="ue.showDetails">
      </div>
    </div>
  </div>

  <a class="btn btn-primary hover-effect" routerLink="/add-edition-form" routerLinkActive="active">Crea nuova edizione</a>


<div class="container1" style="margin-top: 15px;">
  <div class="row">
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/1296/1296693.png" alt="" class="hover-effect">
    </div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3159/3159172.png" alt="" class="hover-effect">
    </div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/9727/9727439.png" alt="" class="hover-effect">
    </div>
  </div>
</div>
