<div class="row align-items-end">
    <div class="container">
        <h1>OUR TEACHERS</h1>
        <div class="row align-items-start">
            <div class="col hover-effect">
                <h3>ALBUS SILENTE</h3>
                <img src="https://www.redwolf.in/image/catalog/stickers/harry-potter-albus-dumbledore-sticker.jpg" alt="">
            </div>
            <div class="col hover-effect">
                <h3>LORD VOLDERMORT</h3>
                <img src="https://www.redwolf.in/image/catalog/stickers/harry-potter-lord-voldemort-sticker.jpg" alt="">
            </div>
            <div class="col hover-effect">
                <h3>SEVERUS SNAPE</h3>
                <img src="https://www.redwolf.in/image/catalog/stickers/harry-potter-severus-snape-sticker.jpg" alt="">
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <h6>Full Stack Developer</h6>
                </div>
                <div class="col">
                    <h6>Back-end Developer</h6>
                </div>
                <div class="col">
                    <h6>Front-end Developer</h6>
                </div>
            </div>
        </div>
    </div>
</div>