<div class="container">
    <img src="" alt="">
    <h2 class="hover-effect">Cerca un teacher</h2>
    <div class="row">
      <div class="col-sm">
        <img src="https://cdn-icons-png.flaticon.com/512/6822/6822288.png" alt="" class="hover-effect">
      </div>
      <div class="col-sm">
        <img src="https://cdn-icons-png.flaticon.com/512/9874/9874671.png" alt="" class="hover-effect">
      </div>
      <div class="col-sm">
        <img src="https://cdn-icons-png.flaticon.com/256/1945/1945655.png" alt="" class="hover-effect">
      </div>
    </div>
  </div>
  
  <form class="row g-3" (ngSubmit)="searchTeacher()" [formGroup]="searchTeacherForm">
    <div class="col-6">
      <label for="area" class="form-label">Area</label>
      <select class="form-select" (change)="fetchSkills($event)" id="area" formControlName="areaId">
        <option value="-1">Seleziona area</option>
        <option *ngFor="let area of areas" [value]="area.id">{{ area.name }}</option>
      </select>
    </div>
    <div class="col-6">
        <label for="skills" class="form-label">Nome skill</label>
        <select class="form-select" id="skills" formControlName="skillId">
          <option value="-1">Seleziona skill</option>
          <option *ngFor="let s of levels" [value]="s">{{ s }}</option>
        </select>
    </div>
    <div class="col-6">
        <label for="levels" class="form-label">Livello</label>
        <select class="form-select" id="levels" formControlName="levelId">
          <option value="-1">Seleziona livello</option>
          <option *ngFor="let l of levels" [value]="l">{{ l }}</option>
        </select>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Trova</button>
    </div>
  </form>
  
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="https://cdn-icons-png.flaticon.com/512/1640/1640642.png" alt="" class="hover-effect">
      </div>
      <div class="col-sm">
        <img src="https://cdn-icons-png.flaticon.com/256/5390/5390225.png" alt="" class="hover-effect">
      </div>
      <div class="col-sm">
        <img src="https://cdn-icons-png.flaticon.com/512/6551/6551750.png" alt="" class="hover-effect">
      </div>
    </div>
  </div>
  