<div class="container">
    <img src="" alt="">
    <h2 class="hover-effect">Registra un nuovo docente</h2>
    <div class="row">
      <div class="col-sm">
        <img src="https://cdn-icons-png.flaticon.com/512/6822/6822288.png" alt="" class="hover-effect">
      </div>
      <div class="col-sm">
        <img src="https://cdn-icons-png.flaticon.com/512/9874/9874671.png" alt="" class="hover-effect">
      </div>
      <div class="col-sm">
        <img src="https://cdn-icons-png.flaticon.com/256/1945/1945655.png" alt="" class="hover-effect">
      </div>
    </div>
  </div>
  
  <form class="row g-3" (ngSubmit)="createNewTeacher()" [formGroup]="teacherForm">
    <div class="col-md-6">
      <label for="title" class="form-label">Nome</label>
      <input type="text" id="title" class="form-control" formControlName="firstname">
      <span class="error">Campo obbligatorio</span>
    </div>
    <div class="col-md-6">
      <label for="duration" class="form-label">Cognome</label>
      <input type="text" id="duration" class="form-control" formControlName="lastname">
      <span class="error">Campo obbligatorio</span>
    </div>
    <div class="col-md-6">
      <label for="participant" class="form-label">Codice Fiscale</label>
      <input type="text" id="participant" class="form-control" formControlName="fiscalCode">
      <span class="error">Campo obbligatorio</span>
    </div>
    <div class="col-md-6">
      <label for="participant" class="form-label">Email</label>
      <input type="text" id="participant" class="form-control" formControlName="email">
      <span class="error">Campo obbligatorio</span>
    </div>
    <div class="col-md-6">
      <label for="participant" class="form-label">Biografia</label>
      <input type="text" id="participant" class="form-control" formControlName="bio">
      <span class="error">Campo obbligatorio</span>
    </div>
    <div class="col-md-6">
      <label for="participant" class="form-label">Data Inizio Insegnamento</label>
      <input type="date" id="participant" class="form-control" formControlName="begunTeaching">
      <span class="error">Campo obbligatorio</span>
    </div>
    <div class="col-md-6">
      <label for="participant" class="form-label">Nickname</label>
      <input type="text" id="participant" class="form-control" formControlName="nickname">
      <span class="error">Campo obbligatorio</span>
    </div>
    <div class="col-md-6">
      <label for="participant" class="form-label">Esperienza Professionale</label>
      <input type="text" id="participant" class="form-control" formControlName="professionalExperience">
      <span class="error">Campo obbligatorio</span>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">CREA</button>
    </div>
  
  </form>
  
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="https://cdn-icons-png.flaticon.com/512/1640/1640642.png" alt="" class="hover-effect">
      </div>
      <div class="col-sm">
        <img src="https://cdn-icons-png.flaticon.com/256/5390/5390225.png" alt="" class="hover-effect">
      </div>
      <div class="col-sm">
        <img src="https://cdn-icons-png.flaticon.com/512/6551/6551750.png" alt="" class="hover-effect">
      </div>
    </div>
  </div>
  