<div class="container">
   <h2 class="hover-effect">Aggiorna i dati del teacher</h2>
   <div class="row">
     <div class="col-sm">
       <img src="https://cdn-icons-png.flaticon.com/512/6822/6822288.png" alt="" class="hover-effect">
     </div>
     <div class="col-sm">
       <img src="https://cdn-icons-png.flaticon.com/512/9874/9874671.png" alt="" class="hover-effect">
     </div>
     <div class="col-sm">
       <img src="https://cdn-icons-png.flaticon.com/256/1945/1945655.png" alt="" class="hover-effect">
     </div>
   </div>
 </div>

<form class="row g-3" (ngSubmit)="updateTeacher()" [formGroup]="teacherForm">
   <div class="col-md-6">
     <label for="firstname" class="form-label">Nome</label>
     <input type="text" id="firstname" class="form-control" formControlName="firstname">
   </div>
   <div class="col-md-6">
     <label for="lastname" class="form-label">Cognome</label>
     <input type="text" id="lastname" class="form-control" formControlName="lastname">
   </div>
   <div class="col-md-6">
      <label for="bio" class="form-label">Bio</label>
      <input type="text" id="bio" class="form-control" formControlName="bio">
    </div>
    <div class="col-md-6">
      <label for="begunTeaching" class="form-label">Data inizio carriera</label>
      <input type="date" id="begunTeaching" class="form-control" formControlName="begunTeaching">
    </div>
    <div class="col-md-6">
      <label for="nickname" class="form-label">Nickname</label>
      <input type="text" id="nickname" class="form-control" formControlName="nickname">
    </div>
    <div class="col-md-6">
      <label for="professionalExperience" class="form-label">Esperienza professionale in</label>
      <input type="text" id="professionalExperience" class="form-control" formControlName="professionalExperience">
    </div>
    <div class="col-md-6">
      <label for="imgName" class="form-label">Image:</label>
      <select id="imgName" class="form-select" formControlName="imgName">
        <option value="albus.webp">Albus</option>
        <option value="lord.webp">Lord</option>
        <option value="luna.png">Lovegood</option>
        <option value="potter.jpg">Potter</option>
        <option value="ron.jpg">Ron</option>
        <option value="severus.jpg">Severus</option>
        <option value="hagrid.jpg">Hagrid</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="teacherLevel" class="form-label">Livello:</label>
      <select id="teacherLevel" class="form-select" formControlName="teacherLevel">
        <option value="BASIC">BASIC</option>
        <option value="INTERMEDIATE">INTERMEDIATE</option>
        <option value="ADVANCED">ADVANCED</option>
        <option value="GURU">GURU</option>
      </select>
    </div>
    
   <div class="col-12">
     <button type="submit" class="btn btn-primary">AGGIORNA</button>
   </div>
 </form>

<div class="container">
   <div class="row">
     <div class="col-sm">
       <img src="https://cdn-icons-png.flaticon.com/512/1640/1640642.png" alt="" class="hover-effect">
     </div>
     <div class="col-sm">
       <img src="https://cdn-icons-png.flaticon.com/256/5390/5390225.png" alt="" class="hover-effect">
     </div>
     <div class="col-sm">
       <img src="https://cdn-icons-png.flaticon.com/512/6551/6551750.png" alt="" class="hover-effect">
     </div>
   </div>
</div>
