<div class="container text-center mt-5">
     <hr>
   <h2>ABOUT US</h2>
   <p>
     Generation Italy helps young individuals develop highly qualified skills, providing businesses with the professional profiles they need.
     Our mission is to enable young people to build their careers, aiding them in developing highly qualified skills and supplying businesses with motivated professional profiles.
     In Italy, where over a million youths are unemployed, our pragmatic approach creates value for employers by connecting skills demand, required professional expertise, and regions with high unemployment rates.
     Our goal is to offer free training courses and support young individuals in entering the workforce, contributing to reducing unemployment.
 </p>
 <p>
     Our vision is to ensure employment that initiates the professional careers of every young person worldwide.
     Generation focuses on reducing youth unemployment by providing essential skills, making otherwise inaccessible careers accessible and supporting companies in finding the professionals they need.
 </p>
 <p>
     For further information, contact us at info.italy@generation.org.
 </p>
</div> 
