<div class="container mt-5">
  <div class="card p-4 rounded bg-light">
    <div *ngIf="courseDetails">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Title</th>
            <th>Duration</th>
            <th>Max Partecipants</th>
            <th>Payment</th>
            <th>Skill Level</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ courseDetails.title }}</td>
            <td>{{ courseDetails.duration }}</td>
            <td>{{ courseDetails.maxPartecipants }}</td>
            <td>{{ courseDetails.payment }}</td>
            <td>{{ courseDetails.skillLevel }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container mt-5">
  <a [routerLink]="['/courses']" class="btn btn-primary">Torna ai Corsi</a>
  <a [routerLink]="['/add-edition-form']" [queryParams]="{'courseId': courseDetails.id}" class="btn btn-primary">Crea una nuova edizione</a>
</div>