@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,700&display=swap');

body {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    font-family:'DM Sans', sans-serif;
}

header {
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: blueviolet;
    padding: 20px 0;
    box-sizing: border-box; 
}

header img {
    width: 400px; 
    height: auto;
}

img.smaller-image {
    width: 150px;
    height: auto;
}

.nav {
    font-size: 24px;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 10px 0; 
    box-sizing: border-box;
    font-weight: 600;
}

.nav a:hover {
    color: white;
    background-color: #EA605B;
}


.container1 {
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}


img {
    width: 150px;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .row img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 2px solid black;
  }

h1 {
    font-size: 40px;
    margin: 40px auto;
    font-weight: 700;
    color: black;
}
.hover-effect {
    transition: transform 0.3s ease;
}

h1:hover {
    transform: scale(1.1);
    
}

.table-container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

table {
    background-color: #292336;
    border: 2px solid black;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #292336;
    width: 100%;
    box-sizing: border-box;
}

table.table-hover {
    border: 2px solid black;
}

th {
    background: linear-gradient(90deg, #EA605B 0%, rgba(88, 9, 128, 0.348) 64%, rgb(0, 174, 255) 100%);
    background-attachment: fixed;
}

.btn.btn-primary {
    text-align: center;
    margin-bottom: 20px;
    width: 35%;
    font-size: 45px;
    line-height: 80px;
}

.custom-table {
    margin: 0 auto;
}