<div class="col hover-effect">
    <h1>{{ teach?.firstname + ' ' + teach?.lastname }}</h1> <!--? (opzinale) per evitare errori-->
    <h6>{{ teach?.nickname }}</h6>
    <img [src]= "'/assets/img/teach_icons/' + teach?.imgName" alt="">
    <section>
        <h5>Esperienza professionale</h5>
        <p>{{ teach?.professionalExperience }}</p>
    </section>
    <section>
        <h5>Bio</h5>
        <p>{{ teach?.bio }}</p>
    </section>
    <section>
        <h5>Titolo</h5>
        <p>Developer {{ teach?.teacherLevel }}</p>
    </section>
    <button (click) = "teacherClickedFun(teach?.firstname)">SCEGLIMI</button>
</div>
