<h1 class="hover-effect">Informazioni dell'edizione</h1>

<div class="container1" style="margin-top: 15px;">
  <div class="row">
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3159/3159407.png" alt="" class="hover-effect"></div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3771/3771395.png" alt="" class="hover-effect"></div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/2620/2620490.png" alt="" class="hover-effect"></div>
  </div>
</div>
<div class="container" >
    <article class="tech">
        <div class="img-tech">
            
            <img src="https://cdn-icons-png.flaticon.com/512/2705/2705224.png" alt="" class="hover-effect">
            <p id="ptech" class="hover-effect">TECH</p>
            <hr>
      
        <p><i class="bi bi-calendar-event"></i><b>Inizio</b><br>{{ue?.startDate}}</p>
        <p><i class="bi bi-calendar-event"></i><b>Fine</b><br>{{ue?.finishDate}}</p>
        <p><i class="bi bi-person"></i><b>Tutor</b><br>{{ue?.tutor}}</p>
        <p><i class="bi bi-currency-euro"></i><b>Pagamento</b><br>{{ue?.pay}}</p>
        <p><i class="bi bi bi-filter-square"></i><b>Area di appartenenza</b><br>{{ue?.areaName}}</p>
        <p><i class="bi bi-textarea-t"></i><b>Titolo del corso</b><br>{{ue?.courseTitle}}</p>
        <p><i class="bi bi-house-door"></i><b>Stanza</b><br>{{ue?.roomName}}</p>
        <p><i class="bi bi-laptop"></i><b>Tipo Lezioni</b><br>{{ue?.isSmart}}</p>
        </div>
    </article>
</div>
<div class="goBack">
    <p><button routerLink='/editions'>Torna indietro</button></p>
</div>


<div class="container1" style="margin-top: 15px;">
  <div class="row">
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/1296/1296693.png" alt="" class="hover-effect"></div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/3159/3159172.png" alt="" class="hover-effect"></div>
    <div class="col-sm">
      <img src="https://cdn-icons-png.flaticon.com/512/9727/9727439.png" alt="" class="hover-effect"></div>
  </div>
</div>