<div class="col hover-effect">
    <h3>{{ teach?.firstname + ' ' + teach?.lastname }}</h3> <!--? (opzinale) per evitare errori-->
    <h3>{{ teach?.nickname }}</h3>
    <img [src]= "'/assets/img/teach_icons/' + teach?.imgName" alt="">
    <section>
        <h3>Esperienza professioanle</h3>
        <p>{{ teach?.professionalExperience }}</p>
    </section>
    <section>
        <h3>Bio</h3>
        <p>{{ teach?.bio }}</p>
    </section>
    <section>
        <h3>Titolo</h3>
        <p>docente: {{ teach?.teacherLevel }}</p>
    </section>
</div>
